<!DOCTYPE html>
<head>
    <title>Verification code for flag!</title>
</head>
<body>
    <h2 style="justify-self: center; font-family: Arial, Helvetica, sans-serif;">Baby's first flag verification code:</h2>
    <h3 style="justify-self: center; font-family: Arial, Helvetica, sans-serif;"><%= flag %></h3>
</body>
</html>