<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>
        My first ever website!
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            background: url('https://cdn12.picryl.com/photo/2016/12/31/space-background-spiral-backgrounds-textures-705f57-1024.jpg');
            background-size: cover;
            color: rgb(255, 255, 255);
        }

        h1 {
            margin: 0;
        }

        p {
            margin: 10px 0 0 0;
        }

        .content {
            z-index: 1;
            position: relative;
            padding: 20px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;
        }

        /* I am particularly lazy designing this challenge, this isn't even the point of this one*/
        .subcontent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            margin-top: 10vw;
            margin-left: 30vw;
            margin-right: 30vw;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Welcome to my website about space!</h1>
        <p>I really love space!</p>
    </div>
    <div class="subcontent">
        <i>
            Outer space (or simply space) is the expanse that exists beyond Earth's atmosphere and between celestial bodies. 
            It contains ultra-low levels of particle densities, constituting a near-perfect vacuum of predominantly hydrogen 
            and helium plasma, permeated by electromagnetic radiation, cosmic rays, neutrinos, magnetic fields and dust. 
            The baseline temperature of outer space, as set by the background radiation from the Big Bang, is 2.7 kelvins (-270 °C; -455 °F).

            The plasma between galaxies is thought to account for about half of the baryonic (ordinary) matter in the universe, 
            having a number density of less than one hydrogen atom per cubic metre and a kinetic temperature of millions of kelvins.
            Local concentrations of matter have condensed into stars and galaxies. Intergalactic space takes up most of the volume of the universe, 
            but even galaxies and star systems consist almost entirely of empty space. Most of the remaining mass-energy in the observable universe is 
            made up of an unknown form, dubbed dark matter and dark energy.
        </i>
        <p>
            - Wikipedia, the free encyclopedia
        </p>
    </div>
</body>